<p style="color: green"><%= notice %></p>
<%= render @product %>
<div>
  <%= link_to "Edit this product", edit_user_product_path(@product) %> |
  <%= link_to "Back to products", user_products_path %>
  <%= button_to "Destroy this product", user_product_path, method: :delete %>
</div>
