<div>
  <%= link_to 'Download Product Details',export_csv_user_products_path(format: :csv) %> <br>
  <br>
  <h3>Sort by:</h3>
  <%= link_to 'Title', user_products_path(sort: 'title') %>
  <%= link_to 'Price', user_products_path(sort: 'price') %>
  <%= link_to 'Created Date', user_products_path(sort: 'created_at') %>
  <%= form_tag user_products_path, method: :get do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Search by title' %>
    <%= submit_tag 'Search' %>
  <% end %>
  <% @products.each do |product| %>
    <p>
      <%= link_to "Actions", user_product_path(product)%>
    </p>
    <p>Title:</p>
    <%= product.title%>
    <p>Price:</p>
    <%= product.price%>
    <p>Description:</p>
    <%= product.description%>
    <p>status:</p>
    <%= product.status%>
  <% end %><br>
  <%= paginate @products %>
  <%= link_to "New product", new_user_product_path %>
</div>
